/* 	blue = #437bd0
	dark-grey = #756f6f
 */

.clear	{
	clear: both;
}

@media(min-width: 768px){
	.custom_nav {
		margin-bottom: 0px;
		position: absolute;
		z-index: 999;
		width: 100%;
		background-color: transparent;
		border: none;
		padding-top: 15px;
	}
	.custom_nav .evrt {
		border-bottom: 1px solid rgba(255,255,255,.3);
		padding-bottom: 20px;
	}
	.custom_nav .container .navbar-header .logo {
		font-family: 'Concert One', cursive;
		font-size: 31px;
		color: #fff;
		outline: none;
		letter-spacing: 1px;
		padding-left: 0;
	}
	.custom_nav .container .nav li {
		padding-left: 20px;
	}
	.custom_nav .container .nav li a {
		font-family: 'Roboto', sans-serif, Helvetica, Arial;
		font-size: 13px;
		letter-spacing: .3px;
		color: #fff;
		font-weight: 600;
		padding-top: 25px;
		padding-right: 0px;
		margin-left: 35px;
	}
	.slider_home .carousel .carousel-control {
		bottom: auto;
		margin-top: 24%;
	}
	.slider_home .carousel .carousel-control.right,
	.slider_home .carousel .carousel-control.left{
		background-image: none;
	}
	.slider_home .carousel .carousel-control .glyphicon {
		font-size: 14px;
		padding: 10px 11px;
		border-radius: 100%;
		background-color: rgba(255, 255, 255, .5);
		border: 1px solid rgba(255, 255, 255, .9);
		line-height: 1.2;
		width: 40px;
		height: 40px;
	}
	.slider_home .carousel .inner_caro .item .hover {
		position: absolute;
		width: 100%;
		height: 675px;
		background-image: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.5) 50%);
		z-index: 99;
		text-align: center;
		padding-top: 15%;
	}
	.slider_home .carousel .inner_caro .item .hover .caption_ {
		padding: 0px 21%;
	}
	.slider_home .carousel .inner_caro .item .hover .caption_ .text_capt_ {
		color: rgba(255, 255, 255, .7);
		font-family: 'Concert One', 'Roboto', Helvetica, Arial;
		font-size: 46px;
		text-transform: uppercase;
		line-height: 60px;
	}

	.slider_home .carousel .inner_caro .item .hover .caption_ .vree {
		padding-top: 50px;
	}

	.slider_home .carousel .inner_caro .item .hover .caption_ .vree .btn_order {
		padding: 15px 40px;
		border-radius: 4px;
		border: 1px solid rgba(255,255,255,.6);
		font-family: Roboto, Helvetica, Arial;
		font-size: 14px;
		font-weight: 900;
		text-decoration: none;
		color: rgba(255,255,255,.6);
		background-color: rgba(255, 255, 255, .1);
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.slider_home .carousel .inner_caro .item .hover .caption_ .vree .btn_order:hover {
		background-color: #437bd0;
		color: #fff;
		border-color: #437bd0;
	}
	.main_page .short_desc {
		background-color: #fff;
		padding: 50px 0px;
		text-align: center;
	}
	.main_page .taan .title .title_ {
		font-family: 'Concert One', 'Roboto', Helvetica, Arial;
		color: #444;
		font-size: 30px;
		margin-bottom: 15px;
		text-transform: capitalize;
	}
	.main_page .taan .title .let {
		font-family: 'Roboto', Helvetica, Arial;
		color: #756f6f;
		font-size: 18px;
		text-transform: capitalize;
		font-weight: 300;
	}
	.main_page .short_desc .conten_desc {
		padding: 20px 15%;
	}
	.main_page .short_desc .conten_desc p {
		font-family: 'Roboto', Helvetica, Arial;
		color: #756f6f;
		font-size: 14px;
		line-height: 25px;
		font-weight: 300;
	}
	.main_page .short_desc .event_conten {
		padding: 40px 0px;
	}
	.main_page .short_desc .event_conten .sbentae {
		padding: 0px;
	}
	.main_page .short_desc .event_conten .sbentae .right_sd {
		padding: 0px;
	}
	.main_page .short_desc .event_conten .sbentae .left_sd {
		padding-left: 10px;
		padding-right: 10px;
		background-color: #616161;
		padding-top: 10px;
		padding-bottom: 14px;

	}
	.main_page .short_desc .event_conten .sbentae .left_sd .ti_ .heee {
		font-family: Roboto, Helvetica, Arial;
		font-size: 14px;
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;
	}
	.main_page .short_desc .event_conten .sbentae .left_sd .ti_ .fe {
		font-family: Roboto, Helvetica, Arial;
		font-size: 13px;
		font-weight: 300;
		color: #fff;
	}
	.main_page .short_desc .event_conten .sbentae .left_sd .ti_ .aint {
		padding: 8px 15px;
	    border-radius: 4px;
	    color: #616161;
	    background-color: #fff;
	    text-decoration: none;
	    font-size: 10px;
	    font-family: Roboto, Helvetica, Arial;
	    font-weight: 600;
	}
	.main_page .short_desc .event_conten .sbentae .right_sd .img_event{
		width: 100%;
	}
	.main_page .short_desc .event_conten .carousel .trew {
		position: relative;
		top: 30px;
		background-image: none;
		opacity: 1;
		text-shadow: none;
	}
	.main_page .short_desc .event_conten .carousel .trew .fa {
		padding: 10px 18px;
		color: #756f6f;
		border:  1px solid #756f6f;
		font-size: 14px;
		font-weight: normal;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.main_page .short_desc .event_conten .carousel .trew .fa:hover {
		background-color: #437bd0;
		color: #fff;
		box-shadow: 0 1px 2px rgba(0,0,0,0.07);
		border-color: #437bd0;
	}

	.main_page .event_ {
		background-color: #f7f7f7;
		padding: 50px 0px;
		text-align: center;
	}
	.main_page .event_ .container .galler {
		padding-top: 40px;
	}
	.main_page .event_ .container .galler .vieew_all {
		padding-top: 30px;
	}
	.main_page .event_ .container .galler .vieew_all .vie_all{
		padding: 10px 30px;
		border-radius: 4px;
		color: #fff;
		font-family: Roboto, Helvetica, Arial;
		font-weight: bold;
		text-decoration: none;
		font-size: 14px;
		background-color: #437bd0;
		-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.4);
	   	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.4);
	    box-shadow: 0 8px 6px -6px rgba(0,0,0,.4);
	}
	.main_page .event_ .container .galler .galeriu {
		padding: 20px;
	}
	.main_page .event_ .container .galler .galeriu .herts .mask {
		position: absolute;
		z-index: 99;
		width: 86%;
		text-align: center;
		padding: 12px;
	    text-align: center;
	    /* border-bottom-right-radius: 3px; */
	    /* border-bottom-left-radius: 3px; */
		background-color: rgba(67, 123, 208, .95); 
		opacity: 0;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.main_page .event_ .container .galler .galeriu .herts .mask .mas_t{
		color: #fff;
		font-family: Roboto, Helvetica, Arial;
		font-weight: bold;
		text-transform: capitalize;
		font-size: 14px;
	}
	.main_page .event_ .container .galler .galeriu .herts img{
		width: 100%;
		border-radius: 3px;
		-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.6);
	   	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.6);
	    box-shadow: 0 8px 6px -6px rgba(0,0,0,.6);
	}
	.main_page .event_ .container .galler .galeriu .herts:hover .mask {
		opacity: 1;
		-webkit-transform: translateY(-70px);
		-moz-transform: translateY(-70px);
		transform: translateY(-70px);
	}

	.testimoni {
		background: url('../images/a1.jpg');
		width: 100%;
		height: 350px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
	}
	.testimoni .gjhg {
		padding: 50px 0px;
		background-color: rgba(230, 230, 230, 0.6);
		width: 100%;
		height: 350px;
	}

	.testimoni .gjhg .title {
		text-align: center;
	}

	.testimoni .gjhg .title .title_{
		margin-top: 0px;
		font-family: 'Concert One', 'Roboto', Helvetica, Arial;
		color: #444;
		font-size: 30px;
		margin-bottom: 15px;
		text-transform: capitalize;
	}

	.testimoni .gjhg .title .let {
		font-family: 'Roboto', Helvetica, Arial;
		color: #756f6f;
		font-size: 18px;
		text-transform: capitalize;
		font-weight: 300;
	}

	.testimoni .gjhg .slide_tisto .carousel .item {
		text-align: center;
	}

	.testimoni .gjhg .slide_tisto .carousel .item .idhgf {
		padding: 30px 0px;
	}

	.testimoni .gjhg .slide_tisto .carousel .item .idhgf img {
		width: 70px;
		border-radius: 100%;
	}

	.testimoni .gjhg .slide_tisto .carousel .item .content {
		padding: 0px 30%;
		height: 95px;
	}

	.testimoni .gjhg .slide_tisto .carousel .item .content .text {
		font-family: 'Roboto', Helvetica, Arial;
		color: #756f6f;
		font-size: 14px;
		text-transform: capitalize;
		font-weight: 400;
		text-shadow: 1px 0px 10px rgba(150, 150, 150, 1);
	}

	.slide_tisto .carousel .carousel-indicators {
		bottom: 0px;
	}

	.slide_tisto .carousel .carousel-indicators li {
		width: 40px;
	    height: 5px;
	    border-radius: 0px;
	    margin: auto;
	}
	.slide_tisto .carousel .carousel-indicators li.active {
		margin: auto;
		background-color: #437bd0;
		border-color:  #437bd0;
	}

	.client_ {
		background-color: #f7f7f7;
	}

	.client_ .container .isi {
		padding: 50px 0px;
		/* padding-bottom: 80px; */
	}

	.client_ .container .isi .title {
		text-align: center;
	}

	.client_ .isi .title .title_{
		margin-top: 0px;
		font-family: 'Concert One', 'Roboto', Helvetica, Arial;
		color: #444;
		font-size: 30px;
		margin-bottom: 15px;
		text-transform: capitalize;
	}

	.client_ .isi .title .let {
		font-family: 'Roboto', Helvetica, Arial;
		color: #756f6f;
		font-size: 18px;
		text-transform: capitalize;
		font-weight: 300;
	}
	.client_ .container .isi .mnhgt {
		text-align: center;
		padding: 30px 20%;
	}

	.client_ .container .isi .mnhgt .ltrwq {
		padding: 20px;
		border-right: 1px solid #dedede;
	}
	.client_ .container .isi .mnhgt .gni {
		border-top: 1px solid #dedede;
	}
	.client_ .container .isi .mnhgt .bbb {
		border-right: none;
	}

    .map {
      width: 100%;
      height: 500px;
      background: url("../images/map.png");
      background-repeat: no-repeat;
     /* background-size: cover;
     background-position: center;*/
    }

    .location_mark {
      width: 100%;
      height: 500px;
      background-color: rgba(0,0,0,.0.7);
    }
    .map .location_mark .pin {
      position: absolute;
      left: 34%;
      margin-top: 20%;
    }
    .map .location_mark .pin .fa {
      font-size: 3em;
      color: #437bd0;
      font-weight: normal;
      text-shadow: 0px 3px 2px rgba(150, 150, 150, 0.71);
    }
    .map .location_mark .addreess{
      padding: 20px;
      border-radius: 4px;
      background-color: #437bd0;
      position: absolute;
      left: 31%;
      margin-top: 8%;
      -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.25);
      -moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.25);
      box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.25);
    }
    .map .location_mark .addreess:after{
       width: 0;
       height: 0;
       border-left: 14px solid transparent;
       border-right: 14px solid transparent;
       border-top: 14px solid #437bd0;
       content: "";
       position: absolute;
       margin-top: 18px;
       margin-left: 19px;
    }
    .map .location_mark .addreess p {
      font-family: Roboto, Helvetica, Arial;
      font-weight:300;
      color: #fff;
      margin: 5px;
      font-size: 13px;
    }
    .map .location_mark .addreess p.title {
      font-size: 16px;
      font-weight: 600;
    }
    .map .location_mark .addreess p .fa {
      font-size: 12px;
      font-weight: normal;
      margin-right: 10px;
    }
    .footer {
      padding: 20px 0px;
      background-color:#fff;
      padding-bottom:10px;
    }
    .footer .pee {
      color:#756f6f;
      font-family: Roboto, Helvetica, Arial;
      font-weight: 400;
      font-size: 14px;
    }
    .footer .social_med .list-inline li {
      padding-left: 10px;
    }
    .footer .social_med .list-inline li a {
      color: #756f6f;
      font-size: 14px;
      font-weight: normal;
      text-decoration: none;
    }

































}
